<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <div id="app">
      {{ buyItems }}
      <table v-bind:style="{width: '100%', textAlign: 'left'}">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="product in products" :key="product.id">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.amount }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.description }}</td>
            <td>
              <input
                v-model="buyItems[product.id]"
                v-bind:style="{width: '100%', textAlign: 'center'}"
                type="number" min="0" max="100"
                step="1"
                name=""
              />
            </td>
          </tr>
        </tbody>
      </table>
      <div v-bind:style="{width: '100%', textAlign: 'right'}">
        <button @click="ECPay">綠界支付</button>
      </div>
    </div>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
